/* 1slider problem  */
/* fix button problem  */
/* slider problem  */

/* common css start  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    padding: 0;
    margin: 0;
    line-height: 0.8;
}

a,
a:hover {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}


/* common css end */

/* navbar start  */
.navbar {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;

}

.sticky-nav-bar {
    background: burlywood;
    animation: limon 1s;
}

@keyframes limon{
from{ top: -100px;}

to{top: 0;}
}

.nav-link {
    color: #fff;
    transition: all .5s;
    margin-left: 25px;
    position: relative;
}

.nav-link:hover {
    color: #744fa0;
}

.nav-link:hover::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 10px;
    width: 15px;
    height: 2px;
    background: #744fa0;

}



.btn {
    border: none;
    padding: 10px 20px;
    background: #744fa0;
    border-radius: 5px;
    color: #fff;
    margin-left: 20px;
}

.btn:hover {

    color: #fff;
    background: #744fa0;
}

/* navbar end */



/* banar part start  */
#banar_part {

    background: url(../images/banar_part.jpg) no-repeat center;
    background-size: cover;
}

.banar_overly {
    background: rgba(0, 0, 0, 0.708);
    padding: 235px 0 125px;
    position: relative;
}

.banar_link_button {

    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);


}

.banar_link_button ul li a i {

    margin-bottom: 30px;
    color: #FFF;
    font-size: 30px;

}

.banar_link_button ul li a i:hover {
    color: #744fa0;

}

.banar_text_part h1 {
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 700;

}

.banar_text_part span {
    color: #744fa0;


}


.banar_text_part h2 {
    font-size: 32px;
    font-weight: 300;
    padding: 30px 0 40px;
    position: relative;
}

.banar_text_part h2::after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    height: 1px;
    width: 200px;
    background: #fff;
}

.banar_text_part p {
    padding: 30px 0 60px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 179px;
}

.banar_button_part {}




.banar_button_part a {
    padding: 10px 30px 10px 65px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    color: #353535;
    transition: .5s;
    margin-left: 5px;
}

.banar_button_part a:hover {

    background: #744fa0;
    color: #fff;
}

.banar_button_part a i {
    font-size: 30px;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.banar_button_part p {
    font-size: 14px;
    font-weight: 400;

}

.banar_button_part h3 {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;

}

/* banar part end */

/* about us part start  */
#about_us_part {
    padding: 85px 0 40px;
}


.about_us_left h2 {
    color: #353535;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 15px;
}

.about_us_left p {
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    line-height: 24px;
    padding-bottom: 35px;
    padding: 0 50px;
    padding-top: 30px;
}

.about_us_left h6 {
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    padding: 0 50px;
    line-height: 24px;
}




/* about us part end */


/* service part start  */
#service_part {
    padding: 30px 0 20px;
    background: #f1f1f1;
}

.service_heading {
    margin: 15px 0 30px;
}

.service_heading h2 {
    text-transform: uppercase;
    color: #353535;
    font-size: 24px;
    font-weight: 700;
}

.service_left {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    margin-bottom: 30px;

}

.service_left:hover::after {
    background: #744fa0;

}

.service_left:hover h2,
.service_left:hover p,
.service_left:hover i,
.remove:hover h2,
.remove:hover p,
.remove:hover i {
    color: #744fa0;

}


.service_left::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 270px;
    background: #353535;
    bottom: 0;
    left: 0;

}



.service_left i {
    position: absolute;
    top: 5%;
    left: 0;

    font-size: 35px;
    transition: .5s;
}

.service_left h2 {
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    padding-bottom: 20px;
    transition: .5s;
}

.service_left p {
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    padding-bottom: 30px;
    transition: .5s;


}


.long::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 370px;
    background: #353535;
    bottom: 0;
    left: 0;
    transition: .5s;

}


.mb {
    margin-bottom: 0 !important;
}

.remove {
    position: relative;
    padding-left: 40px;
    cursor: pointer;

}

.remove a h2 {
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    padding-bottom: 20px;
    transition: .5s;

}

.remove a p {
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    padding-bottom: 30px;
    transition: .5s;


}

.remove a i {
    position: absolute;
    top: 5%;
    left: 0;
    color: #353535;
    font-size: 35px;
    transition: .5s;

}


.service_right_part h3 {
    padding: 75px 0 30px;
    font-size: 18px;
    font-weight: 700;
    color: #353535;

}

.service_right_part p {
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    line-height: 24px;
    padding-left: 50px;
}

.service_right_part span {
    display: inline-block;
    padding-top: 38px;
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    line-height: 24px;
}


/* service part end */


/* appon slider part start  */
#appon_slider_part {
    padding: 80px 0;
    position: relative;
}


/* 
.slick-dots {
    position: absolute;
    left: 50%;
    bottom: -30px;


} */

/* .slick-dots li {
    display: inline-block;
    border: none;
    text-indent: -999999px;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
} */



.slick-next {
    position: absolute;

}

.slick-prev {
    position: absolute;
}

/* li .slick-active button {
    background: red;
    height: 25px;
    width: 25px;
    border-radius: 50%;


} */

/* appon slider part end */

/* appon video part start  */


#appon_video_play_button {
    background: url(../images/appon_video_part.jpg) no-repeat center;
    background-size: cover;
}

.appon_video_overly {
    padding: 380px 0 215px;
    background: rgba(0, 0, 0, 0.591);
}

.appon_video_button i {
    font-size: 70px;
}

#appon_pricing_part {
    padding: 80px 0 30px;
}

/* appon video part end */


/* sign up start  */
#sign_up_part {
    padding-bottom: 20px;
}

.pricing_card_one {
    border: 1px solid#f1f1f1;
    border-radius: 5px;

    position: relative;
}

.priceing_text_top {
    background: #f1f1f1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .5s;
}

.priceing_text_top h2 {
    padding: 25px 0;
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    text-transform: uppercase;
    transition: .5s;
}


.pricing_text_midle {
    padding: 50px 0;
    position: relative;
}

.pricing_text_midle h2 {
    font-size: 47px;
    color: #353535;
    font-weight: 700;
}

.pricing_text_midle span {

    font-size: 18px;
    color: #353535;
    font-weight: 700;
}

.pricing_text_midle p {
    font-size: 15px;
    font-weight: 700;
    padding-top: 17px;

}

.circle_pricing {
    position: absolute;
    width: 115px;
    height: 115px;
    border: 2px solid #f1f1f1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.priceing_bottom_part {
    padding: 35px 0 50px;
    background: #f1f1f1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.priceing_bottom_part p {
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    line-height: 30px;
    padding: 0 73px;

}

.card_button_part a {
    padding: 10px 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #353535;
    color: #353535;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    transition: all .5s;
}

.pricing_card_one:hover .card_button_part a {
    border: 1px solid #744fa0;
    color: #fff;
    background: #744fa0;
}

.pricing_card_one:hover .priceing_text_top h2 {
    color: #fff;
    background: #744fa0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


}


/* sign up end */


/* ourteam part start  */
#our_team_part {
    padding: 80px 0;
}

.our_team_text_part h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #353535;
}

.team_images {
    padding: 15px 0 115px;
}



.team_identity_images {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.team_identity_part:hover .team_identity_images {

    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.team_part_overly {
    background: rgba(0, 0, 0, 0.71);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}

.team_identity_part:hover .team_part_overly {
    visibility: visible;
    opacity: 1;
}


.team_identity_text_part {
    border: 1px solid #cccccc;
    border-radius: 10px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;

}



.team_identity_part:hover .team_identity_text_part {
    visibility: visible;
    opacity: 1;
}

.team_identity_part:hover {
    transform: translateY(-80px);
}

.team_identity_part {
    transition: .5s;
    cursor: pointer;
}





.team_identity_text_part h2 {
    padding: 30px 0 15px;
    color: #353535;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

.team_identity_text_part h5 {
    color: #6c6c6c;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 25px;
}

.team_identity_text_part p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 90px 30px;

}

.team_part_overly {
    display: flex;
    justify-content: center;
    align-items: center;


}

.overly_icon i {
    font-size: 50px;
    color: #fff;
    padding: 5px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;

}

.team_identity_part:hover .overly_icon i {
    visibility: visible;
    opacity: 1;
    color: #1da1f2;


}

/* ourteam part end */




/* social media  part start  */

#social_media_part {

    background: url(../images/social_media_pic.jpg) no-repeat center;
    background-size: cover;
}

.social_media_overly {
    padding: 30px 0;
    background: rgba(0, 0, 0, 0.701);
}

.social_header_part h2 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #353535;

}

.social_roket_images {
    margin: 15px 0 30px;

}

.post_part_start {
    padding: 35px 0 15px;
    background: #fff;
    border-radius: 5px;
    position: relative;
}

.top_post p {
    padding: 0 114px;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

}


.start_icon i {
    padding: 30px 0 10px;
    font-size: 10px;
    color: #744fa0;
}

.post_bottom h2 {
    font-size: 18px;
    font-weight: 700;
    color: #353535;
    padding-bottom: 10px;
}

.post_bottom p {
    z-index: 9999;
}

.shape_part {
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background: #fff;
    rotate: 45deg;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}


.social_person_images {
    padding: 30px 0;
}

.social_person_images img {
    border: 3px solid #744fa0;
    border-radius: 50%;
}

/* social media  part end */



/* input part start  */
#appon_input {
    padding: 80px 0;
}

.input_images {
    margin: 15px 0 30px;
}

.input_fild input {
    width: 100%;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    border: 1px solid #000;
}

.input_fild input::placeholder {
    /* padding-left: 10px; */

}

.input_message input {
    margin: 30px 0;
    width: 100%;
    height: 175px;
    border-radius: 5px;
    border: 1px solid #000;
    position: relative;
}


.input_message input::placeholder {

    position: absolute;
    top: 5px;
    left: 5px;
}

#submit {
    border: none;
    padding: 5px 15px;
    background: #744fa0;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}

/* input part end */

/* footer part start  */
#footer_part {
    padding: 30px 0;
    background: #353535;
}

.footer_midle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-size: 50px;
}

.footer_midle i:hover {
    color: #fff;
    transition: .5s;
}

.footer_bottom p {
    padding-top: 15px;
    font-size: 14px;
    color: #fff;
}

.footer_bottom span {
    font-size: 14px;
    color: #744fa0;
}

/* footer part end */